body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    overflow: hidden;
}
.container{
    width: 98vw;
    height: 97vh;
    /* margin: 10%; */
    display: flex;

}
.input{
    /* padding: 50px auto; */
    color: white;
}

.input , .output{
    width: 45vw;
    height: 97vh;
    margin: 20px ;
}
h3{
    color: white;
}
textarea{
    background-color: blue;
    width: 43vw;
    height: 80vh;
    border: 2px black solid;
    border-radius: 5px;
    color: white;
    font-family: monospace;
    padding: 20px;
    font-weight: 600;
}
.output-text{
    background-color: gray;
    width: 43vw;
    height: 80vh;
    border: 2px black solid;
    border-radius: 5px;
    color: white;
    font-family: monospace;
    padding: 20px;
    font-weight: 600;
}